.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  .wrapper__job {
    display: flex;
    max-width: 1400px;
    margin: 4px auto;
    background: #eff0f5;
    border-radius: 8px;
    padding: 16px;
    .job__photo {
      margin-top: 45px;
      img {
        border-radius: 50%;
        object-fit: cover;
        width: 66px;
        height: 66px;
        min-width: 66px;
        min-height: 66px;
        max-width: 66px;
        max-height: 66px;
        margin-right: 20px;
      }
    }
    .job__info {
      .job__info__stats {
        display: flex;
        justify-content: space-between;
        .stats__rate {
            display: flex;
          color: #384564;
        }
        .stats__date {
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0.206667px;
          color: #878d9d;
        }
      }
      .job__info__main {
        margin-top: 14px;
        .info__main__title {
          color: #3a4562;
          font-size: 1.125rem;
          line-height: 24px;
        }
        .info__main__department {
          font-size: 1rem;
          line-height: 25px;
          letter-spacing: 0.23619px;
          color: #878d9d;
          margin-top: 5px;
        }
        .info__main__address {
          display: flex;
          margin-top: 5px;
          gap: 8px;
          letter-spacing: 0.23619px;
          color: #878d9d;
          font-size: 1rem;
          line-height: 25px;
        }
      }
    }
  }
}
