@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: ProximaNova;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #eff0f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: ProximaNova;
  src: url("./../public/assets/fonts/Proxima\ Nova\ Font.otf")
    format("opentype");
}

/* .slick-slide {
  min-width: 210px;
} */
